*{
    margin:0;
    text-align: center;
  
    
}

.header{
    background: rgb(56, 193, 242);
    }
    .header h1{

    }
.footer{
    background: rgb(56, 193, 242);
    bottom: 0;
}

.nav{
    background: #232423;   
    padding: 10px;
    
}
#link{
    color: #000;
    margin: 5px;
    text-decoration: none;
    font-size: 1rem;
}
#link p{
    font-style: italic;
    font-size: .7rem;
}
.nav input{
    width: 220px;
    height: 25px;  
    outline: none;
}
.links ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    
}
#link-item{
    color: #fff;
    margin: 5px;
    text-decoration: none;
    font-size: 1.2rem;
}
.post{
    
    border-bottom: 1px solid rgb(181, 173, 173);
    display: flex;
    flex-direction: column;
    
}
.post__Date{
    color: rgb(85, 84, 84);
    font-size: .8rem;
}
.post__Body{
    font-size: 1rem;
}
.delete__Btn{
    text-decoration: none;
    background: red;
    color: #fff;
    width: 90px;
    height: 30px;
    margin: 3px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
.add__Btn{
    text-decoration: none;
    background: rgb(68, 233, 39);
    color: #fff;
    width: 70px;
    height: 30px;
    margin: 3px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.form__Row{
    margin: 4px;
    padding: 10px;
}
.form__Row input{
    margin-left: 5px;
    text-align: left;
}
.form__Row textarea{
    margin-left: 5px;
    text-align: left;
}